<form class="container" #loginForm="ngForm">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="name" value="{{inputValue.name}}" ngModel></textarea>
    </div>



    <button type="submit" class="btn btn-primary" (click)="transform(loginForm.value)" >uppercase</button>
 
<!-- <p>{{inputValue.name | uppercase}}</p> -->




  </form>
 
<router-outlet></router-outlet>
