{{200 | currency:'INR'}}

<form class="container" #loginForm="ngForm">
  <div class="mb-3">
    <label for="a1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="a1" [(ngModel)]="inputValue" rows="5" name="name"></textarea>
  </div>
  <p>Uppercase: {{ inputValue | uppercase }}</p>
  <p>Lowercase: {{ inputValue | lowercase }}</p>
</form>


<input type="text" name="iii" [(ngModel)]="nameSearch">



<p *ngFor="let pro of proname | app : nameSearch">{{proname.name}}</p>




<router-outlet></router-outlet>